---
import {getCollection} from 'astro:content'
import PostLayout from "../../layouts/PostLayout.astro"
import "../../styles/github-markdown.css"

export async function getStaticPaths() {
    const blogEntries = await getCollection('posts')
    return blogEntries.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }))
}

const {entry} = Astro.props
const {Content} = await entry.render()
const tags = [...entry.data['tags']]
---
<PostLayout title={entry.data['title']}>
    <div class="flex flex-row gap-2">
        {
            <a class="text-gray-600 dark:text-gray-400">{entry.data['author']}</a>
        }
        {
            tags.map(tag => <a href={`/tags/${tag}`} class="text-gray-600 dark:text-gray-400 hover:font-bold">{`#${tag}`}</a>)
        }
    </div>
    <div class="markdown-body">
        <Content/>
    </div>
</PostLayout>
