---
import {getCollection} from "astro:content"
import {convertDateFormat} from "../../utils/date"
import PostLayout from "../../layouts/PostLayout.astro"

export async function getStaticPaths() {
    const allPosts = await getCollection('posts', ({ data }) => !data.draft)

    const allTags = [...new Set(allPosts.flatMap((post) => post.data.tags))]

    return allTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))
        return {
            params: {tag},
            props: {posts: filteredPosts},
        };
    });
}

const {tag} = Astro.params
const {posts} = Astro.props
---
<PostLayout title={tag}>
    <div class="flex flex-col">
        <h2 class="page-title">包含「{tag}」标签的文章</h2>
        <div class="flex flex-col gap-0">
                {
                    posts.map(
                        post =>
                                <div class="theme-entry flex flex-row gap-3 items-center">
                                    {convertDateFormat(post.data['date'])}
                                    <a href={`/posts/${post.id}`}>
                                        {post.data['title']}
                                    </a>
                                </div>
                    )
                }
        </div>
    </div>
</PostLayout>