---
import {getCollection} from "astro:content"
import {convertDateFormat} from "../../utils/date"
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths() {
    const allPosts = await getCollection('posts')

    // @ts-ignore
    const allTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

    return allTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))
        return {
            params: {tag},
            props: {posts: filteredPosts},
        };
    });
}

const {tag} = Astro.params
const {posts} = Astro.props
---
<BaseLayout title={tag}>
    <div class="flex justify-center items-center">
        <div class="flex flex-col items-center">
            <p class="text-xl font-bold">包含「{tag}」标签的文章</p>
            <div class="flex flex-col gap-0">
                {
                    posts.map(
                        post =>
                                <div class="flex flex-row gap-3 items-center text-gray-600 dark:text-gray-400 hover:underline hover:decoration-2 hover:decoration-[#ffce75] dark:hover:decoration-[#c18c2b]">
                                    {convertDateFormat(post.data['date'])}
                                    <a href={`/posts/${post['slug']}`} id={post.data['title']}>
                                        {post.data['title']}
                                    </a>
                                </div>
                    )
                }
            </div>
        </div>
    </div>
</BaseLayout>