---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../content/specs/home.md"
import {convertDateFormat} from "../utils/date"
import {getCollection} from "astro:content"
import "../styles/github-markdown.css"

const allPosts = await getCollection('posts')
---
<BaseLayout title="主页">
    <div class="markdown-body">
        <Content/>
    </div>
    <div class="flex justify-center items-center">
        <div class="flex flex-col w-[720px]">
            <p class="text-xl font-bold mt-6">近期文章</p>
            <div class="flex flex-col m-2 gap-0">
                {
                    allPosts.map(
                        post =>
                                <div class="flex flex-row gap-3 items-center text-gray-600 dark:text-gray-400 hover:font-bold">
                                    {convertDateFormat(post.data.date)}
                                    <a href={`/posts/${post.slug}`} id={post.data.title}>
                                        {post.data.title}
                                    </a>
                                </div>
                    )
                }
            </div>
        </div>
    </div>
</BaseLayout>
