---
import SiteLayout from './SiteLayout.astro'

const {
    title,
    background,
    headerBackgroundSlot,
    backfillBackgroundSlot,
    siteHeaderSlot,
    siteNavigationSlot,
    siteFooterSlot,
    siteOverlaySlot,
} = Astro.props as {
    title: string
    background?: string
    headerBackgroundSlot?: boolean
    backfillBackgroundSlot?: boolean
    siteHeaderSlot?: boolean
    siteNavigationSlot?: boolean
    siteFooterSlot?: boolean
    siteOverlaySlot?: boolean
}

const hasHeaderBackground = headerBackgroundSlot ?? Astro.slots.has('header-background')
const hasBackfillBackground = backfillBackgroundSlot ?? Astro.slots.has('backfill-background')
const hasSiteHeader = siteHeaderSlot ?? Astro.slots.has('site-header')
const hasSiteNavigation = siteNavigationSlot ?? Astro.slots.has('site-navigation')
const hasSiteFooter = siteFooterSlot ?? Astro.slots.has('site-footer')
const hasSiteOverlay = siteOverlaySlot ?? Astro.slots.has('site-overlay')
---

<SiteLayout
    title={title}
    background={background}
    headerBackgroundSlot={hasHeaderBackground}
    backfillBackgroundSlot={hasBackfillBackground}
    siteHeaderSlot={hasSiteHeader}
    siteNavigationSlot={hasSiteNavigation}
    siteFooterSlot={hasSiteFooter}
    siteOverlaySlot={hasSiteOverlay}
>
    <slot name="header-background" slot="header-background" />
    <slot name="backfill-background" slot="backfill-background" />
    <slot name="site-header" slot="site-header" />
    <slot name="site-navigation" slot="site-navigation" />
    <slot name="site-footer" slot="site-footer" />
    <slot name="site-overlay" slot="site-overlay" />
    <main class="site-main mx-auto w-[min(720px,calc(100%-3rem))] py-3">
        <div class="w-full max-w-180">
            <slot />
        </div>
    </main>
</SiteLayout>
