---
import SiteLayout from "./SiteLayout.astro"
import DocumentLayout from "./DocumentLayout.astro"

const {title, post = false, background} = Astro.props as {
    title: string
    post?: boolean
    background?: string
}

const headerBackgroundSlot = Astro.slots.has("header-background")
const backfillBackgroundSlot = Astro.slots.has("backfill-background")
const siteHeaderSlot = Astro.slots.has("site-header")
const siteNavigationSlot = Astro.slots.has("site-navigation")
const siteFooterSlot = Astro.slots.has("site-footer")
---
<SiteLayout
    title={title}
    background={background}
    document={post}
    headerBackgroundSlot={headerBackgroundSlot}
    backfillBackgroundSlot={backfillBackgroundSlot}
    siteHeaderSlot={siteHeaderSlot}
    siteNavigationSlot={siteNavigationSlot}
    siteFooterSlot={siteFooterSlot}
>
    <slot name="header-background" slot="header-background"/>
    <slot name="backfill-background" slot="backfill-background"/>
    <slot name="site-header" slot="site-header"/>
    <slot name="site-navigation" slot="site-navigation"/>
    <slot name="site-footer" slot="site-footer"/>
    {
        post ? (
            <DocumentLayout label={title}>
                <slot/>
                <slot name="left" slot="left"/>
                <slot name="right" slot="right"/>
            </DocumentLayout>
        ) : (
            <main class="site-main mx-auto w-[min(720px,calc(100%-3rem))] py-3">
                <article class="w-full max-w-180 flex flex-col gap-4">
                    <slot/>
                </article>
            </main>
        )
    }
</SiteLayout>
