---
import SiteLayout from "./SiteLayout.astro"

const {title, background} = Astro.props as {
    title: string
    background?: string
}

const headerBackgroundSlot = Astro.slots.has("header-background")
const backfillBackgroundSlot = Astro.slots.has("backfill-background")
const siteHeaderSlot = Astro.slots.has("site-header")
const siteNavigationSlot = Astro.slots.has("site-navigation")
const siteFooterSlot = Astro.slots.has("site-footer")
---
<SiteLayout
    title={title}
    background={background}
    markdownRender
    headerBackgroundSlot={headerBackgroundSlot}
    backfillBackgroundSlot={backfillBackgroundSlot}
    siteHeaderSlot={siteHeaderSlot}
    siteNavigationSlot={siteNavigationSlot}
    siteFooterSlot={siteFooterSlot}
>
    <slot name="header-background" slot="header-background"/>
    <slot name="backfill-background" slot="backfill-background"/>
    <slot name="site-header" slot="site-header"/>
    <slot name="site-navigation" slot="site-navigation"/>
    <slot name="site-footer" slot="site-footer"/>
    <main class="markdown-render" aria-label={title}>
        <article class="markdown-render-main w-full max-w-180 flex flex-col gap-4">
            <slot/>
        </article>
        <div class="markdown-render-region markdown-render-left">
            <slot name="left"/>
        </div>
        <div class="markdown-render-region markdown-render-right">
            <slot name="right"/>
        </div>
    </main>
</SiteLayout>
